@font-face {
  font-family: "iconfont"; /* Project id 2523671 */
  src: url('iconfont.woff2?t=1619855423889') format('woff2'),
       url('iconfont.woff?t=1619855423889') format('woff'),
       url('iconfont.ttf?t=1619855423889') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-8shipinhuiyi:before {
  content: "\e62e";
}

.icon-zhoubao:before {
  content: "\e63b";
}

.icon-dingdanrizhi-:before {
  content: "\e729";
}

.icon-xiangmu1:before {
  content: "\e635";
}

.icon-wentifankui:before {
  content: "\e644";
}

.icon-xiangmu:before {
  content: "\e6c7";
}

.icon-tushuzhishiku:before {
  content: "\e634";
}

.icon-xuqiu:before {
  content: "\e636";
}

.icon-geren9:before {
  content: "\e62a";
}

.icon-guanyu:before {
  content: "\e60b";
}

.icon-yingyong1:before {
  content: "\e600";
}

.icon-icon4:before {
  content: "\e606";
}

.icon-shezhi:before {
  content: "\e67a";
}

.icon-woniu:before {
  content: "\e601";
}

.icon-yingyong:before {
  content: "\e64f";
}

.icon-514tongji_yibiaopan:before {
  content: "\e64b";
}

.icon-tianjiajiahaowubiankuang:before {
  content: "\e60d";
}

.icon-sousuo:before {
  content: "\e62c";
}

.icon-tongzhi:before {
  content: "\e628";
}

